{% extends 'base.html.twig' %}

{% block title %}Bienvenue{% endblock %}

{% block body %}
{% include 'Message/addflash.html.twig' %}

    <p> Bienvenue {{user.firstName}} sur notre site web.</p>

    <p><a href={{ path('userinscription') }} >Retourner au formulaire d'inscription.</a></p>

    {# <p><a href={{ path('') }} >Aller à la page de connection.</a></p> #}



{% endblock %}
