{% extends 'base.html.twig' %}

{% block body %}

{% include 'Message/addflash.html.twig' %}

{% if offers is not empty %}
Liste des festival disponible:
<br/>
{% for offer in offers %}
    {{ loop.index }}. Titre: {{ offer.title }}  Lieu: {{ offer.location }} <form method='post' action="{{path('offer_delete', {'id':ticket.id})}}" ><button>supprimer cette offre</button></form> 	
    <p>--------------------------------------------</p>
{% endfor %}
{% else %}
<p>Aucune offre n'est disponible.</p>
{% endif %}


{% endblock %}