{% extends 'base.html.twig'%}

{% block body %}
<h1>Tickets disponibles pour ce festival</h1>

{% if tickets is not empty %}
    <ul>
    {% for ticket in tickets %}
        <li>{{ ticket.offer.title }} - {{ ticket.price }}€ <form method='post' action="{{path('checkout_checkout_create', {'id':ticket.id})}}" ><button>acheter ce ticket</button></form></li>
    {% endfor %}
    </ul>
{% else %}
    <p>Aucun ticket disponible pour ce festival.</p>
{% endif %}

{% endblock %}