{% extends 'base.html.twig' %}

{% block title %}Hello UserController!{% endblock %}

{% block body %}

<div class="example-wrapper">
    <h1>salut {{ controller_name }}! ✅</h1>

    This friendly message is coming from:
    <ul>
        <li>Your controller at <code>C:/Users/Polo/Bloc_studi_3/src/Controller/UserController.php</code></li>
        <li>Your template at <code>C:/Users/Polo/Bloc_studi_3/templates/user/index.html.twig</code></li>
    </ul>
</div>
{% endblock %}
